{% include 'nav.html' %}
<div class="main">
{% block content %}
    
	<div class="">
		<div class="d-flex justify-content-center">
			<div class="card" style="width: 38rem;">
		<form 
		action="{{url_for('deleteCollege_Name',clid=cl.id)}}" method="POST">
			<div class="card-body bg-info">
				<h4 class="card-text"style="color: blue;">Are you sure you want to delete {{cl.name}}</h4>
			</div>
			<div class="card-footer d-flex justify-content-center">
				<input type="submit" class="btn btn-danger" value="Delete" style="margin-right: 10px;background-color:red">
			    <button type="button" class="btn btn-warning"style="background-color:green;color:white;"><a href="http://localhost:8000/home">Cancel</a></button>
			</div>
			
		</form>
	</div>
		</div>
		
	</div>
	{% endblock content %}